{% comment %}
  Post Byline Component
  Displays author, publish date, reading time, and category
  Used in: individual blog post layout
{% endcomment %}

{% assign current_locale = page.lang | default: site.default_lang | default: 'en' %}

<div class="post-byline">
  
  <!-- Author -->
  <span class="post-byline__item post-byline__author" itemprop="author" itemscope itemtype="https://schema.org/Person">
    <svg class="post-byline__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"/>
    </svg>
    <span itemprop="name">{{ page.author | default: site.title | default: 'Simon Salazar' }}</span>
  </span>

  <!-- Publish Date -->
  {% if page.publish_date or page.date %}
  <span class="post-byline__item post-byline__date">
    <svg class="post-byline__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"/>
    </svg>
    <time datetime="{{ page.publish_date | default: page.date | date_to_xmlschema }}" itemprop="datePublished">
      {% if current_locale == 'es' %}
        {{ page.publish_date | default: page.date | date: "%-d de %B de %Y" }}
      {% else %}
        {{ page.publish_date | default: page.date | date: "%B %-d, %Y" }}
      {% endif %}
    </time>
  </span>
  {% endif %}

  <!-- Reading Time (calculate from content word count) -->
  <span class="post-byline__item post-byline__reading-time">
    <svg class="post-byline__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"/>
    </svg>
    {% assign words = content | number_of_words %}
    {% assign reading_time = words | divided_by: 200 %}
    {% if reading_time == 0 %}
      {% assign reading_time = 1 %}
    {% endif %}
    <span itemprop="wordCount" content="{{ words }}">
      {{ reading_time }} 
      {% if current_locale == 'es' %}
        min de lectura
      {% else %}
        min read
      {% endif %}
    </span>
  </span>

  <!-- Category Badge -->
  {% if page.category %}
  <span class="post-byline__item post-byline__category">
    <span class="badge badge--{{ page.category | slugify }}">
      {{ page.category }}
    </span>
  </span>
  {% endif %}

</div>
