// Blog carousel component styles
@import '../variables';
@import '../mixins';

// ============================================================================
// BLOG CAROUSEL
// ============================================================================

.blog-carousel {
  padding: $spacing_10 0;
  background-color: $color_bg_secondary;

  @include respond-to-lg {
    padding: $spacing_12 0;
  }

  &__header {
    text-align: center;
    margin-bottom: $spacing_8;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    @include heading-2;
    margin-bottom: $spacing_4;
    color: $color_text_primary;
  }

  &__subtitle {
    font-size: $font_size_lg;
    line-height: $line_height_relaxed;
    color: $color_text_secondary;
  }

  &__grid {
    @include responsive-grid(1, 2, 3, $spacing_6);
    margin-bottom: $spacing_8;
  }

  &__item {
    // Grid items automatically sized by grid
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: $spacing_8;
  }

  // Empty state
  &__empty {
    padding: $spacing_10 0;
    display: flex;
    justify-content: center;
  }
}

// ============================================================================
// EMPTY STATE
// ============================================================================

.empty-state {
  text-align: center;
  max-width: 400px;
  padding: $spacing_8 $spacing_4;

  &__icon {
    width: 64px;
    height: 64px;
    margin: 0 auto $spacing_5;
    color: $color_gray_300;
  }

  &__title {
    font-size: $font_size_2xl;
    font-weight: $font_weight_semibold;
    color: $color_text_primary;
    margin-bottom: $spacing_3;
  }

  &__message {
    font-size: $font_size_lg;
    color: $color_text_secondary;
    line-height: $line_height_relaxed;
    margin-bottom: $spacing_6;
  }
}
